
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Välkommen till 'Kurs-crudden'!</h1><br />             
                    <p>Här kan du administrera MinusHögskolans kurser, studenter och lärare genom en fantastiskt vacker och genomtänkt webbapplikation.</p>
                    <p>Använd länkarna i menyn till vänster för att jobba med det du vill.</p><br />
                     <hr />
                    <p>
                        Denna applikation är gjord som ett projektarbete i kursen 'Projektbaserad Webbutveckling' och innefattar de delar
                        som vi gått igenom i utbildningen under hösten 2014 samt våren 2015.
                    </p>                              
                    <p>Vi som jobbat med detta är:</p>
                    <ul style="list-style-type:none;">
                        <li>Joacim Johansson</li>
                        <li>Robin Eliassson</li>
                        <li>Andreas Gidö</li>
                    </ul>
                  @*<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="margin-top:25px">Dölj/Visa Menyn</a>*@
            </div>
        </div>
    </div>
</div>


